<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.lord.merchant.dao.MchLabelMapper">
  <resultMap id="BaseResultMap" type="cc.lord.merchant.domain.MchLabel">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="LABEL_ID" jdbcType="BIGINT" property="labelId" />
    <result column="MCH_ID" jdbcType="BIGINT" property="mchId" />
  </resultMap>

  <resultMap id="BaseResultMapVo" type="cc.lord.merchant.domain.MchLabelVo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="LABEL_ID" jdbcType="BIGINT" property="labelId" />
    <result column="MCH_ID" jdbcType="BIGINT" property="mchId" />
    <result column="LABEL_NAME" jdbcType="VARCHAR" property="labelName" />
  </resultMap>

  <delete id="removeLabelByMchId" >
    delete from t_mch_label where MCH_ID=#{mchId}
  </delete>

  <select id="findMchLabelVoList" resultMap="BaseResultMapVo">
    select m.*,l.LABEL_NAME from t_mch_label m
  	left join t_label l on(m.LABEL_ID = l.LABEL_ID)
	where m.MCH_ID = #{mchId} and LABEL_STATUS=1 and LABEL_DELETE=0 and LABEL_DISABLE=0
  </select>

  <insert id="insertMchLabel" parameterType="cc.lord.merchant.domain.MchLabel">
    insert into t_mch_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="labelId != null">
        LABEL_ID,
      </if>
      <if test="mchId != null">
        MCH_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="labelId != null">
        #{labelId,jdbcType=BIGINT},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>